<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title><%= title %></title>

    <script type="text/javascript" charset="UTF-8">
      window.okSignedParams = '<%= okSignedParams %>';
      window.offlineSignedParams = '<%= offlineSignedParams %>';
      window.assetsManifest = JSON.parse('<%- JSON.stringify(assetsManifest) %>');
      window.assetsRevision = JSON.parse('<%- JSON.stringify(assetsRevision) %>');
    </script>
  </head>

  <body>
    <link href="/assets/<%= assetsManifest['application.css'] %>" media="all" rel="stylesheet" />

    <div class="wrapper">
      <div id="application">
        <div class="header"></div>

        <div id="sidebar"></div>

        <div class="page_wrapper"></div>

        <div id="right_notification"></div>

        <div id="left_notification"></div>
      </div>
    </div>

    <script type="text/javascript" charset="UTF-8">
      window.lng = "ru"
    </script>

    <script src="/assets/<%= assetsManifest['application.js'] %>" type="application/javascript" charset="UTF-8"></script>
  </body>
</html>
